<%= render :partial => 'post', :object => @post %>
<h4><a name= "comments"></a>Comments</h4>
<%= render :partial => 'comments/comment',
           :collection => @post.comments.order("created_at ASC") %>
<%= render :partial => 'comments/form' %>